.header {
    width: 100%;
    background-color: #EAC926;
    display: flex;
   flex-direction: column; 
    flex-wrap: wrap;
}
.header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__logo {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 50%;
}
.header__logo img {
    width: 100%;
    margin-top: 15px;
}
.header__searchBar {
    padding-left: 0;
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;

    
}
.header__searchBar form {
    margin: 0;
    width: 100%;
}
.header__searchBar__input{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
}
.header__searchBar__input::placeholder {
    color: var(--colorGrisOscuro);
    font-size: 12px;
    text-align: center;
}
.header__searchBar__button {
position: absolute;
right: 0;
top: 10px;
background: white;
border: none;;
}
.header__div-cuotas {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 75%;
}
.header__div-cuotas i{
    margin: 0 ;
}
.header__div-cuotas p{
    width: 100%;
    margin: 0;
}
.header__navs {
    margin: 0px;
    display: none;
}
.header__navs nav {
    margin: 25px 0px;
}
.header ul {
    list-style: none;
    padding: 0px;
}
.header a {
    text-decoration: none;
    color: #000;
}
.header__burger__div {
    display: flex;
    justify-content: center;
}
.header__burger {
    background-color: var(--colorCeleste);
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
    border-style: none;
}
.header__burger a {
    color: #FFFFFF;
    font-size: 25px;
}

/* TABLET */
@media(min-width:481px) {
    .header {
    }
    .header__top{

    }
    .header__logo {
        width: 30%;
        margin: 0;
    }
    .header__logo img {
    }
    .header__searchBar {
        width: 30%;
        margin: 0;
    }
    .header__searchBar form {
display: flex;
    }
    .header__searchBar__input{
        font-size: 1rem;
    }
    .header__searchBar__input::placeholder {
    }
    .header__searchBar__button {
        top: 0;
    }
    .header__div-cuotas {
        width: 30%;
    }
    .header__navs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header__navs nav {
        width: 40%;
    }
    .header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        width: 100%;
    }
    .header__navs li{
    }

    .header a {
    }
    .header__burger__div {
        display: none;
    }
    .header__burger {
    }
    .header__burger a {
    }
}

/* DESKTOP */
@media(min-width:769px) {
    .header {
    }
    .header__logo {
    }
    .header__logo img {
    }
    .header__searchBar {
    }
    .header__searchBar form {
    }
    .header__searchBar__input::placeholder {
    }
    .header__searchBar__button {
    }
    .header__div-cuotas {
    }
    .header__navs {
    }
    .header__navs nav {
    }
    .header ul {
    }
    .header a {
    }
    .header__burger__div {
    }
    .header__burger {
    }
    .header__burger a {
    }
}